// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere


//
// Color system
//

$primary: #fcb960;
$secondary: #bababa;
$color-1 : #000000;
$color-2 : #ffffff;
$color-3 : #EFEDD8;
$color-4 : #353535;
$color-5 : #181818;
$color-6 : #202020;
