.header-element {
    padding: 110px 0 70px;
    text-align: center;
    position: relative;
    h6 {
        padding-bottom: 20px;
        font-size: 14px;
        line-height: 40px;
        color: #feb960;
        font-weight: 600;
        font-family: "Open Sans";
        text-align: center;
    }
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        height: 90px;
        width: 1px;
        background-color: $primary;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
}
