.section-projects {
    background-color: $color-5;
    padding: 100px 0;
    .carousel-item {
        text-align: center;
        position: relative;
        img {
            width: 65%;
        }
    }
    .carousel-indicators {
        position: relative;
        padding-top: 15px;
        li {
            width: 30px;
            height: 0;
            padding-bottom: 3px;
            margin-right: 10px;
            margin-left: 10px;
        }

        .active {
            background-color: $primary;
        }
    }

    .project-content {
        text-align: left;
        h2 {
            font-size: 55px;
            line-height: 65px;
            color: $color-2;
            font-family: "Merriweather";
            filter: drop-shadow(0 0 5px rgba(24,24,24,0.5));
        }

        h3 {
            font-size: 14px;
            line-height: 40px;
            color: $primary;
            font-weight: 600;
            font-family: "Open Sans";
        }
    }

    .action-elements {
        text-align: left;
        p {
            padding: 0;
        }
        a {
            font-size: 14px;
            line-height: 28px;
            color: $color-2;
            font-weight: 600;
            font-family: "Open Sans";
            text-align: right;
            text-transform: uppercase;
        }
    }

    .right-arrow {
        height: 15px;
        width: 15px;
        margin-left: 5px;
        path {
            fill: $primary;
        }
    }
}

.link-btn {
    font-size: 14px;
    line-height: 28px;
    color: $color-2;
    font-weight: 600;
    font-family: "Open Sans";
    text-align: right;
    text-transform: uppercase;
    .right-arrow {
        height: 15px;
        width: 15px;
        margin-left: 5px;
        path {
            fill: $primary;
        }
    }
}


@media(max-width: 767px) {
    .section-projects {
        .carousel-item {
            img {
                width: 100%;
            }
        }

        .project-content {
            padding-bottom: 15px;
            h2 {
                font-size: 34px;
                line-height: 56px;
            }
        }

        .action-elements {
            padding-top: 15px;
        }
    }
}

@media(min-width: 768px) {
    .project-content {
        position: absolute;
        top: 100px;
        left: 0;
        text-align: left;
        &:before {
            content: '';
            position: absolute;
            bottom: 100%;
            left: 0;
            height: 90px;
            width: 1px;
            background-color: $primary;
        }
    }

    .action-elements {
        position: absolute;
        bottom: 100px;
        right: 0;
        text-align: left;
        &:after {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            height: 90px;
            width: 1px;
            background-color: $primary;
        }
    }
}
