.section-team {
    background-color: $color-5;
    padding-bottom: 80px;
}

.team-grid {
    position: relative;
    margin: 50px 0;
    height: 280px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    .thumbnail-element {
        background-color: $color-2;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        margin: 0 auto;
        img {
            height: 100px;
            width: 100px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    h2 {
        font-size: 14px;
        line-height: 24px;
        color: #feb960;
        font-weight: 600;
        font-family: "Open Sans";
        text-align: center;
        text-transform: uppercase;
        padding-top: 20px;
    }

    h6 {
        font-size: 12px;
        line-height: 18px;
        color: $color-2;
        font-weight: 400;
        font-family: "Open Sans";
        text-align: center;
        padding-top: 5px;
    }

    p {
        font-size: 12px;
        line-height: 20px;
        color: $color-2;
        font-weight: 400;
        font-family: "Open Sans";
        text-align: center;
        text-align: left;
    }

    .hover-team-element {
        visibility: none;
        opacity: 0;
        background-color: $color-5;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: flex-start;
        height: 100%;
        width: 100%;
        transition: all 0.3s;
        .thumbnail-main {
            border-top: 1px solid $primary;
            border-left: 1px solid $primary;
            border-top-left-radius: 2px;
            padding: 15px;
            margin-bottom: 15px;
        }
        .thumbnail-element {
            height: 50px;
            width: 50px;
            img {
                height: 50px;
                width: 50px;
            }
        }

        h2,
        h6 {
            transform: rotate(90deg);
        }

        .info {
            display: flex;
            h2 {

                position: absolute;
                height: auto;
                width: 76%;
                left: -50px;
                bottom: 30px;
                text-align: left;

            }

            h6 {
                position: absolute;
                height: auto;
                width: 76%;
                left: -80px;
                bottom: 40px;
                text-align: left;
            }
        }

        .content-element {
            padding-left: 15px;
            padding-right: 15px;
            position: relative;
        }
    }

    &:hover {
        .hover-team-element {
            visibility: visible;
            opacity: 1;
        }
    }

}

@media(max-width: 767px) {
    .team-grid {
        border-right: none;
    }
}
